{# Need help setting up site search?
   Start here: https://knowledge.hubspot.com/articles/kcs_article/cos-general/how-do-i-set-up-a-results-page-for-my-search-field-in-hubspot #}

{% set search_page = module.results.use_custom_search_results_template is truthy and module.results.path_id ? content_by_id(module.results.path_id).absolute_url : site_settings.content_search_results_page_path %}

{% unless (search_page is string_containing "//") %}
  {% set search_page = "/" ~ search_page %}
{% endunless %}

{% set search_page = search_page|regex_replace("http:", "") %}

<div class="hs-search-field position-relative">
    <div class="hs-search-field__bar">
      <form data-hs-do-not-collect="true" action="{{ search_page }}">
        {% if module.field_label %}
          <label for="term">{{ module.field_label }}</label>
        {% endif %}
        <div class="d-flex gap-3 align-items-center">
          <input type="text" class="hs-search-field__input" name="term" autocomplete="off" aria-label="{{ module.field_label || "Søk" }}" placeholder="{{ module.placeholder }}">

          {% if module.include_search_button %}
            <button aria-label="Søk"><img src="https://respons.markedspartner.no/hubfs/Customer%20Boilerplate/search_icon.svg" width="20px" loading="lazy" alt="Search icon"></button>
          {% endif %}
        </div>
      </form>
    </div>
    <ul class="hs-search-field__suggestions m-0 list-unstyled position-absolute"></ul>
</div>
