.carousel-caption { 
    min-height: 80px;
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem;
}

.carousel-control-next, .carousel-control-prev {
    width: 10%; 
    height: calc(100% - 80px);
    
    .carousel-control-next-icon, .carousel-control-prev-icon {
        height: 1.5rem;
        width: 1.5rem;
    }
}