<!--
    templateType: blog_listing
    isAvailableForNewContent: true
    label: Customer Boilerplate - listing sidebar
-->


{% extends '../layouts/base_blog.html' %}

{% block body %}
<div class="blog-sidebar margin-bottom-toggle">
    <div class="container pt-5">

    {% if blog_author %}
        <div class="hs-author-profile mb-5 d-flex gap-4 border-bottom pb-4">
            {% if blog_author.avatar %} 
            <div class="author-avatar"> 
                    <img src="{{ blog_author.avatar }}" alt="{{ blog_author.display_name }}'s photo"> 
            </div> 
            {% endif %} 

            <div class="">
                <h3 class="hs-author-name">{{ blog_author.display_name }}</h3>
                <div class="hs-author-bio">{{ blog_author.bio }}</div>
            </div>
        </div>
    {% endif %}

    {% if tag %}
        <h1 class="h2 mb-5">Kategori: {{ page_meta.html_title|split(' | ')|last }}</h2>
    {% endif %}

    {% if simple_list_page %}
        <h1 class="h2 mb-5">Alle innlegg</h2>
    {% endif %}


        <div class="blog-listing-wrapper d-flex flex-wrap">
            <div class="blog-section col-lg-9 col-12 pe-0 pe-lg-4">
                    {# simple_list_page indicates the "blog/all" page, which is a list of links to every blog post #}
                    <div class="post-listing-sidebar {% if simple_list_page %}post-listing-sidebar-simple{% endif %} d-grid gap-4">

                        {% for content in contents %}
                        <div class="post-item w-100 d-flex flex-column position-relative bg-light border-radius">
                            <div class="post-header clearfix">
                                {% if content.post_list_summary_featured_image %}
                                <div class="featured-image-wrapper">
                                    <a href="{{content.absolute_url}}" title="" class="featured-image-link">
                                        <img src="{{ content.post_list_summary_featured_image }}" class="featured-image border-radius-top"
                                            alt="{{ content.featured_image_alt_text | escape }}" loading="lazy">
                                    </a>
                                </div>
                                {% endif %}
                            </div>

                            <!--post content-->
                            <div class="post-body px-4 pt-3 pb-5">
                                <div class="d-flex flex-column gap-2 pb-3">

                                    {% set tag_array = [] %}
                                    {% for tag in content.tag_list %}
                                    {% do tag_array.append( tag.slug ) %}
                                    {% endfor %}

                                    {% if not simple_list_page %}

                                    <div class="tag-icon"><a class="text-decoration-none"
                                            href="{{ group.absolute_url }}/tag/{{ tag_array[0] }}">{{ tag_array[0]|capitalize }}</a></div>

                                    <p id="hubspot-author_data" class="blog-post-info mb-0"
                                        data-hubspot-form-id="author_data" data-hubspot-name="Blog Author">
                                        {% if content.blog_post_author %}
                                        {{ content.publish_date_localized }}
                                        <span class="hs-author-label"> av </span><a class="author-link text-dark"
                                            href="{{ group.absolute_url }}/author/{{ content.blog_post_author.slug }}">{{
                                            content.blog_post_author.display_name }}</a>
                                        {% endif %}
                                    </p>
                                    {% endif %}

                                    <h2 class="h3"><a class="text-dark text-decoration-none" href="{{content.absolute_url}}">{{ content.name }}</a></h2>
                                    {% if not simple_list_page %}
                                    <a href="{{content.absolute_url}}" class="text-dark text-decoration-none"><p>{{ content.post_list_content|striptags|truncate(250, breakword=False, end='...')}}</p></a>
                                    {% endif %}
                                </div>
                                <a href="{{content.absolute_url}}" class="position-absolute bottom-0 mb-4 btn btn-primary button-border-radius">Les mer</a>
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                {% if not simple_list_page %}
                <div class="blog-pagination d-flex flex-row justify-content-center gap-4 mt-4">
                    {% if last_page_num %}
                    <a class="previous-posts-link" href="{{ blog_page_link(last_page_num) }}">Forrige</a>
                    {% endif %}
                    <a class="all-posts-link" href="{{ blog_all_posts_url(group.id) }}">Alle artikler</a>
                    {% if next_page_num %}
                    <a class="next-posts-link" href="{{ blog_page_link(next_page_num) }}">Neste</a>
                    {% endif %}
                </div>
                {% endif %}

            </div>

            <div class="sidebar col-lg-3 col-12 d-flex flex-column gap-4">
                <div class="subscribe p-xl-5 py-5 p-4 bg-light border-radius">
                    {% module "module_17059297541814" path="/Customer Boilerplate/modules/blog/sidebar modules/Subscribe sidebar", label="Subscribe sidebar" %}                
                </div>
                <div class="about p-xl-5 py-5 p-4 bg-light border-radius">
                    {% module "module_16986651579925" path="/Customer Boilerplate/modules/blog/sidebar modules/Om bloggen",
                    label="Om bloggen" %}
                </div>
                <div class="cta border-radius">
                    {% module "module_16984017096701" path="/Customer Boilerplate/modules/blog/sidebar modules/CTA",
                    label="CTA" %}
                </div>
                <div class="tags p-xl-5 py-5 p-4 bg-light border-radius">
                    {% module "module_16995169030816" path="/Customer Boilerplate/modules/blog/sidebar modules/Tags", label="Tags" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}