<!--
    templateType: blog_post
    isAvailableForNewContent: true
    label: Customer Boilerplate - post page sidebar
-->

{% extends '../layouts/base_blog.html' %}

{% block body %}

<div class="blog-sidebar margin-bottom-toggle">
    <div class="container pt-5">
        <div class="blog-post-wrapper d-flex flex-wrap">

            <div class="blog-section col-lg-9 col-12 pe-0 pe-lg-4">
                <div class="post-section">
                    <div class="post-header">

                        <h1>{{ content.name }}</h1>
                        <p id="hubspot-author_data" class="blog-post-info" data-hubspot-form-id="author_data"
                            data-hubspot-name="Blog Author">
                            <span class="hs-author-label"> Av</span>
                            {% if content.blog_post_author %}
                            <a class="author-link"
                                href="{{ group.absolute_url }}/author/{{ content.blog_post_author.slug }}">{{
                                content.blog_post_author.display_name }}</a> | {{ content.publish_date_localized }}
                            {% endif %}
                        </p>

                        <div class="social-shares-post d-flex gap-3 mb-4">
                            <a class="btn btn-sm btn-outline-light d-flex align-items-center gap-2" target="_blank"
                                href="https://www.facebook.com/sharer/sharer.php?u={{ content.absolute_url|urlencode }}"><img
                                    src="https://respons.markedspartner.no/hubfs/Templates/facebook-1.svg">Del</a>
                            <a class="btn btn-sm btn-outline-light d-flex align-items-center gap-2" target="_blank"
                                href="https://www.linkedin.com/shareArticle?mini=true&url={{content.absolute_url|urlencode}}"><img
                                    src="https://respons.markedspartner.no/hubfs/Templates/linkedin%20(1).svg">Del</a>
                        </div>
                    </div>
                </div>

                <img src="{{ content.post_list_summary_featured_image }}" width="700" height="394" loading="lazy"
                    class="featured-image border-radius" alt="{{ content.featured_image_alt_text | escape }}"> 
                    {% module "module_17055852945462" path="/Customer Boilerplate/modules/blog/common modules/Caption", label="Caption" %}

                <div class="post-body my-4">
                    {{ content.post_body }}
                </div>

                
                <div class="blog-post-info">
                    
                    {% if content.topic_list %}
                        <div class="border-top py-5">
                        <h4>Temaer</h4>
                        <p id="hubspot-topic_data">
                            {% for topic in content.topic_list %}
                            <a class="topic-link btn btn-outline-primary"
                                href="{{ blog_tag_url(group.id, topic.slug) }}">{{ topic.name
                                }}</a>{% if not loop.last %} {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                {% endif %}

                    
                    <div class="about-author d-flex gap-4 py-5 border-top flex-column flex-sm-row">
                        {% if content.blog_post_author.avatar %}
                        <div class="author-avatar">
                            <img src="{{ content.blog_post_author.avatar }}"
                                alt="{{ content.blog_post_author.display_name }}'s photo">
                        </div>
                        {% endif %}

                        <div class="author-content">
                            <p class="author-title">Av: <a
                                    href="{{ group.absolute_url }}/author/{{ content.blog_post_author.slug }}">{{
                                    content.blog_post_author.display_name }}</a></p>

                            {% if content.blog_post_author.bio %}
                            <p class="author-bio">{{content.blog_post_author.bio}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {# Related articles #}
                {% module "module_17072097841003" path="/Customer Boilerplate/modules/blog/common modules/Related posts", label="Related posts" %}

            </div>

            <div class="sidebar col-lg-3 col-12 d-flex flex-column gap-4">
                <div class="subscribe p-xl-5 py-5 p-4 bg-light border-radius">
                    {% module "module_17059297541814" path="/Customer Boilerplate/modules/blog/sidebar modules/Subscribe sidebar", label="Subscribe sidebar" %}
                </div>
                <div class="about p-xl-5 py-5 p-4 bg-light border-radius">
                    {% module "module_16986651579925" path="/Customer Boilerplate/modules/blog/sidebar modules/Om bloggen",
                    label="Om bloggen" %}
                </div>
                <div class="cta border-radius">
                    {% module "module_17061774032997" path="/Customer Boilerplate/modules/blog/sidebar modules/CTA sidebar", label="CTA sidebar" %}
                </div>
                <div class="cta border-radius">
                    {% module "module_16984017096701" path="/Customer Boilerplate/modules/blog/sidebar modules/CTA",
                    label="CTA" %}
                </div>
                <div class="tags p-xl-5 py-5 p-4 bg-light border-radius">
                    {% module "module_16995169030816" path="/Customer Boilerplate/modules/blog/sidebar modules/Tags", label="Tags" %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}