<div class="hero w-100 {% if module.margin_and_padding.padding %}padding-section{% endif %}
{% if module.margin_and_padding.margin_top %}margin-top-section{% endif %}
{% if module.margin_and_padding.margin_bottom %}margin-bottom-section{% endif %}" style="background-image: url({{ module.image_field.src }}); background-size: cover; background-position: center;">
  <div class="container d-flex justify-content-center flex-column h-100">
    <h1>{{ module.heading }}</h1> 
    <span class="ingress mb-4">{{ module.ingress }}</span> 
    {% set href = module.button_link.href %}
      {% if module.button_link.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
      {% endif %}
    {% if module.button %}
	  <a class="btn btn-primary" href="{{ href }}">{{ module.button_text }}</a>
    {% endif %}
  </div>
</div>